/.vscode
/Combined copy.jpg
/Combined.jpg
/DEPRECATED
/Reference.txt
/StarMap.jpg
/Untitled.png
/__pycache__
/aligendImage.jpg
/aligendImageTotal.jpg
/detectedFormation.jpg
/detectedFormations (2).jpg
/detectedFormations.jpg
/detectedFormations1.jpg
/detectedMatches copy 2.jpg
/detectedMatches copy 3.jpg
/detectedMatches copy 4.jpg
/detectedMatches copy 5.jpg
/detectedMatches copy.jpg
/detectedMatches.jpg
/detectedNeighbours.jpg
/detectedStars copy.jpg
/detectedStars.jpg
/display.png
/estimatedPositon copy.jpg
/estimatedPositon.jpg
/img
/run-all
/run-all copy
/undistortion
*.jpg
*.npy